body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f8f8b7;
}

.tabs {
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: black;
  }
  
  .tab-button {
    background-color: #030303;
    border: none;
    padding: 10px 20px;
    margin: 0 15px;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
  }
  
  .events-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin: 120px;
    margin-top: 50px;
  }
  
  .event {
    border: 1px solid #faf7f7;
    background-color: #fff;
    padding: 10px;
  }
  
  .event img {
    width: 100%;
  }
  
  .event-title {
    font-weight: bold;
    margin-top: 10px;
  }
  
  .event-details {
    margin-top: 5px;
  }
  
  .event-details span {
    margin-right: 10px;
  }

  .tab-button:focus {
    background-color: white;
    color: black;
  }

  .events-details {
    color: rgba(165, 23, 23, 0.842);
    font-weight: 400;
    font-size: 17px;
  }

  .event div {
    padding: 5px;
  }